version: '3.1'

# use this yml for docker-compose up -d
services:
  mysql_8_4:
    image: arm64v8/mysql:8.4
    environment:
      - MYSQL_DATABASE=devtester
      - MYSQL_ROOT_PASSWORD=123456
      - TZ=Asia/Shanghai
    ports:
      - 13306:3306
    restart: always
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --default-time_zone='+8:00'
    # User/Password：root/123456

  postgres_12_4:
    image: postgres:12.4
    environment:
      - POSTGRES_PASSWORD=123456
    ports:
      - 15432:5432
    restart: always
    # User/Password：postgres/123456

  #  oracle_12c:
  #    image: truevoly/oracle-12c
  #    ports:
  #      - 11521:1521
  #      - 11522:8080
  #    restart: always
  #    # User/Password：system/oracle
  #    # WebConsole：http://192.168.0.164:50102/em/login（sys/oracle）
  #    # -- CREATE USER "TESTER" IDENTIFIED BY TESTER PROFILE "DEFAULT" ACCOUNT UNLOCK DEFAULT TABLESPACE  "USERS" TEMPORARY TABLESPACE "TEMP";
  #    # -- GRANT "DBA" TO "TESTER";

  mssql_2017:
    image: mcr.microsoft.com/azure-sql-edge
    environment:
      - SA_PASSWORD=Share123456!
      - ACCEPT_EULA=Y
    ports:
      - 11433:1433
    restart: always
    # User/Password：sa/Share123456!
    # https://hub.docker.com/_/microsoft-mssql-server?tab=description
    # https://mcr.microsoft.com/v2/mssql/server/tags/list

  #  db2:
  #    image: ibmcom/db2
  #    environment:
  #      - DB2INST1_PASSWORD=123456
  #      - DBNAME=devtesterdb
  #      - LICENSE=accept
  #    ports:
  #      - 50000:50000
  #    privileged: true
  #    restart: always
  #    # User/Password：db2inst1/123456
  #    # -v /usr/local/db2:/database
  #    # docker exec -it 85011f695773 /bin/bash
  #    # su - db2inst1
  #    # db2 list database directory
  #    # db2sampl
  #    #  登陆 SAMPLE 数据库

  clickhouse:
    image: clickhouse/clickhouse-server
    environment:
      - CLICKHOUSE_DB=default
      - CLICKHOUSE_USER=root
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
      - TZ=Asia/Shanghai
      - CLICKHOUSE_PASSWORD=password123
    ports:
      - 18123:8123
      - 19000:9000
    # -v /var/local/apps/clickhouse/data:/var/lib/clickhouse
    #   --ulimit nofile=262144:262144
    restart: always

  redis_7_2_3:
    image: redis:7.2.3
    privileged: true
    ports:
      - 16379:6379
    # - /apps/redis/datadir:/data
    # - /apps/redis/conf/redis.conf:/usr/local/etc/redis/redis.conf
    # - /apps/redis/logs:/logs
    restart: always
    command: redis-server --requirepass 123456

  mongo_6_0:
    image: mongo:6.0
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=123456
    ports:
      - 17017:27017
    restart: always
    # User/Password：root/123456

  #  es_6_8_3:
  #    image: elasticsearch:6.8.3
  #    privileged: true
  #    ports:
  #      - 19300:9300
  #      - 19200:9200
  #    environment:
  #      - discovery.type=single-node
  #    # elasticsearch.yml
  #    #   http.cors.enabled: true
  #    #   http.cors.allow-origin: "*"
  #    # ./bin/elasticsearch-plugin install https://github.com/medcl/elasticsearch-analysis-ik/releases/download/v6.8.3/elasticsearch-analysis-ik-6.8.3.zip
  #    # ./bin/elasticsearch-plugin install ingest-attachment
  #    # http://localhost:9200
  #  kibana_6_8_3:
  #    image: kibana:6.8.3
  #    privileged: true
  #    ports:
  #      - 15601:5601
  #    environment:
  #      - ELASTICSEARCH_URL=http://es_6_8_3:9200
  #    depends_on:
  #      - es_6_8_3

  doris_fe:
    image: apache/doris:fe-2.1.9
    hostname: fe
    ports:
      - 18030:8030
      - 19030:9030
      - 19010:9010
    environment:
      - FE_SERVERS=fe1:doris_fe:9010
      - FE_ID=1
  doris_be:
    image: apache/doris:be-2.1.9
    hostname: be
    ports:
      - 18040:8040
      - 19050:9050
    environment:
      - FE_SERVERS=fe1:doris_fe:9010
      - BE_ADDR=doris_be:9050
    depends_on:
      - doris_fe

  ob_ce_4_9_0:
    image: oceanbase/oceanbase-ce:4.9.0
    environment:
      - MINI_MODE=0
      - root_password=123456
    ports:
      - 12881:2881
    restart: always
  ob_ocp_4_9_0:
    image: oceanbase/ocp-ce:4.9.0
    environment:
      - OCP_METADB_HOST=ob_ce_4_9_0
      - OCP_METADB_PORT=2881
      - OCP_METADB_DBNAME=ocp_meta
      - OCP_METADB_USER=root@ocp_meta
      - OCP_METADB_PASSWORD=ocp_meta_password
      - OCP_MONITORDB_DBNAME=ocp_monitor
      - OCP_MONITORDB_USER=root@ocp_monitor
      - OCP_MONITORDB_PASSWORD=ocp_monitor_password
      - OCP_INITIAL_ADMIN_PASSWORD=123456
    #    ports:
    #      - 12881:2881
    restart: always
    depends_on:
      - ob_ce_4_9_0
