<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//hasor.net//DTD Mapper 1.0//EN" "https://www.hasor.net/schema/hasordb-mapper.dtd">
<mapper namespace="net.hasor.db.test.dao.RoleMapper">

    <resultMap id="roleDTO" table="tb_user" type="net.hasor.db.test.dto.RoleDTO" autoMapping="true" mapUnderscoreToCamelCase="true" caseInsensitive="true"/>

    <select id="multipleListByAge" resultMap="roleDTO" multipleResult="ALL">
        select id, name, age, create_time as createTime from `test_user` where age = #{age};
        select * from `test_user`;
    </select>

    <select id="queryListByAge">
        select * from `test_user` where age = #{age}
    </select>

    <select id="queryById" resultMap="roleDTO">
        select
        id, name, age, create_time as createTime
        from
        test_user
        where
        age = #{age}
    </select>

    <insert id="insertUser">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT CONCAT('1', CEILING(RAND() * 1000 + 1000))
        </selectKey>
        insert into `test_user` (
        `id`, `name`, `age`, `create_time`
        ) values (
        #{id}, #{name}, #{age}, #{createTime}
        )
    </insert>

    <select id="queryByNameAndAge">
        select * from `test_user`
        @{and, age = :age}
        @{and, name = :name}
        @{and, id in (:ids)}
    </select>
</mapper>