<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//dbvisitor.net//DTD Mapper 1.0//EN" "https://www.dbvisitor.net/schema/dbvisitor-mapper.dtd">
<mapper namespace="com.example.demo.quick.page3.TestUserDAO">

    <resultMap id="testuser_resultMap" type="com.example.demo.quick.page3.TestUser">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="testuser_columns">
        name,age,create_time
    </sql>

    <select id="queryByAge1" resultMap="testuser_resultMap">
        select id,<include refid="testuser_columns"/>
        from `test_user`
        where  #{beginAge} &lt; age and age &lt; #{endAge}
    </select>

    <select id="queryByAge2" resultMap="testuser_resultMap">
        select id,<include refid="testuser_columns"/>
        from `test_user`
        where  #{beginAge} &lt; age and age &lt; #{endAge}
    </select>
</mapper>