<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd"
       default-lazy-init="true">

    <!-- 数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="jdbc:mysql://127.0.0.1:13306/devtester?allowMultiQueries=true"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
        <property name="initialSize" value="1"/>
        <property name="minIdle" value="1"/>
        <property name="maxActive" value="20"/>
        <property name="maxWait" value="60000"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>
        <property name="validationQuery" value="SELECT 'x'"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>
        <property name="filters" value="stat"/>
    </bean>

    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 开启事务注解 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- DalRegistry -->
    <bean id="dalRegistry" class="net.hasor.dbvisitor.spring.support.DalRegistryBean">
        <property name="mapperResources" value="classpath*:hasordb/mapper/*Mapper.xml"/>
    </bean>

    <!-- DalSession -->
    <bean id="dalSession" class="net.hasor.dbvisitor.spring.support.DalSessionBean">
        <property name="dalRegistry" ref="dalRegistry"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- userMapper -->
    <bean id="userMapper" class="net.hasor.dbvisitor.spring.support.DalMapperBean">
        <property name="dalSession" ref="dalSession"/>
        <property name="mapperInterface" value="net.hasor.dbvisitor.test.dao.UserMapper"/>
    </bean>

    <!-- roleMapper -->
    <bean id="roleMapper" class="net.hasor.dbvisitor.spring.support.DalMapperBean">
        <property name="dalSession" ref="dalSession"/>
        <property name="mapperInterface" value="net.hasor.dbvisitor.test.dao.RoleMapper"/>
    </bean>
</beans>
