<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//dbvisitor.net//DTD Mapper 1.0//EN"
        "https://www.dbvisitor.net/schema/dbvisitor-mapper.dtd">
<mapper namespace="xmltest.DynamicSqlMapper">
    <select id="selectWithIf" resultType="net.hasor.dbvisitor.test.contract.material.model.UserInfo" resultTypeHandler="net.hasor.dbvisitor.types.handler.json.JsonTypeHandler"> ZRANGEBYSCORE <if test="email != null"> @{macro, redisEmailIndex} </if> <if test="email == null"> @{macro, redisAges} </if> <if test="minAge != null"> #{minAge} </if><if test="minAge == null"> -inf </if> +inf </select>
    <select id="selectWithChoose" resultType="net.hasor.dbvisitor.test.contract.material.model.UserInfo" resultTypeHandler="net.hasor.dbvisitor.types.handler.json.JsonTypeHandler"> <choose> <when test="orderBy == 'name' || orderBy == 'both'"> ZRANGE @{macro, redisUsers} 0 -1 </when> <when test="orderBy == 'age' || orderBy == 'both'"> ZREVRANGE @{macro, redisAges} 0 -1 </when> <otherwise> ZRANGE @{macro, redisUsers} 0 -1 </otherwise> </choose> </select>
    <select id="selectByIdList" resultType="net.hasor.dbvisitor.test.contract.material.model.UserInfo" resultTypeHandler="net.hasor.dbvisitor.types.handler.json.JsonTypeHandler"> ZUNION #{idCount} <foreach collection="ids" item="item" separator=" " open=" " close=" ">@{macro, redisRecordKey}</foreach> </select>
    <select id="batchInsert" resultSetExtractor="net.hasor.dbvisitor.test.realdb.redis.api.mapper.RedisIntegerResultExtractor"> EVAL "local added=0; for i=3,#KEYS do local u=cjson.decode(ARGV[i-2]); added=added+redis.call('ZADD',KEYS[1],u.id,ARGV[i-2]); redis.call('ZADD',KEYS[2],u.age,ARGV[i-2]); redis.call('ZADD',KEYS[i],u.id,ARGV[i-2]); end; return added" #{users.size() + 2} @{macro, redisUsers} @{macro, redisAges} <foreach collection="users" item="item" separator=" " open=" " close=" ">@{macro, redisBatchRecordKey}</foreach> <foreach collection="users" item="item" separator=" " open=" " close=" ">#{item,typeHandler=net.hasor.dbvisitor.types.handler.json.JsonTypeHandler}</foreach> </select>
    <select id="selectWithBind" resultType="net.hasor.dbvisitor.test.contract.material.model.UserInfo" resultTypeHandler="net.hasor.dbvisitor.types.handler.json.JsonTypeHandler"> <bind name="suffix" value="name.substring(6)"/> ZRANGE @{macro, redisBoundIndex} 0 -1 </select>
    <select id="selectWithBoundAge" resultType="net.hasor.dbvisitor.test.contract.material.model.UserInfo" resultTypeHandler="net.hasor.dbvisitor.types.handler.json.JsonTypeHandler"> <bind name="lower" value="minAge + 1"/> ZRANGEBYSCORE @{macro, redisAges} #{lower} +inf </select>
</mapper>
