<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//dbvisitor.net//DTD Mapper 1.0//EN"
        "https://www.dbvisitor.net/schema/dbvisitor-mapper.dtd">
<mapper namespace="xmltest.KeyGenerationMapper">
    <sql id="entity">#{#{'name':name,'age':age,'email':email},typeHandler=net.hasor.dbvisitor.types.handler.json.JsonTypeHandler}</sql>
    <select id="insertWithExplicitId" resultSetExtractor="net.hasor.dbvisitor.test.realdb.redis.api.mapper.RedisIntegerResultExtractor">
        ZADD @{macro, redisUsers} #{id} <include refid="entity"/>
    </select>
    <insert id="insertWithGeneratedKeyResultSet" useGeneratedKeys="true" generatedKeySource="resultSet"
            keyProperty="id" keyColumn="VALUE">
        EVAL "local id=redis.call('INCR',KEYS[1]); redis.call('ZADD',KEYS[2],id,ARGV[1]); return id" 2 @{macro, redisCounter} @{macro, redisUsers} <include refid="entity"/>
    </insert>
    <select id="selectById" resultType="net.hasor.dbvisitor.test.contract.material.model.UserInfo"
            resultTypeHandler="net.hasor.dbvisitor.types.handler.json.JsonTypeHandler">
        ZRANGEBYSCORE @{macro, redisUsers} #{id} #{id}
    </select>
</mapper>
