.features {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

.title {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.featureBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureSvg {
  display: inline;
  height: 45px;
  width: 50px;
}