<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.test.VehicleMapper" >

    <resultMap id="vehicle_test" type="com.example.demo.test.VehicleG">
        <result column="vehicleId" property="vehicleId" />
    </resultMap>

    <select id="queryByUpdateTime" resultMap ="vehicle_test">
        SELECT
            *
        FROM
            vehicle
        WHERE 1=1
            <if test = 'updateTime != null'>and updateTime >= #{updateTime}</if>
    </select>
</mapper>
