<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//dbvisitor.net//DTD Mapper 1.0//EN" "https://www.dbvisitor.net/schema/dbvisitor-mapper.dtd">
<mapper>
    <select id="multipleListByAge" bindOut="res1,res2">
        select id, name, age, create_time as createTime from `test_user` where age = #{age}; @{resultSet,name=res1,javaType=com.example.demo.mapper.TestUserPojo}
        select * from `test_user`;                                                           @{resultSet,name=res2,javaType=com.example.demo.mapper.TestUser}
    </select>

    <select id="queryListByAge">
        select * from `test_user` where age = #{age}
    </select>

    <select id="queryById" resultType="com.example.demo.mapper.TestUserPojo">
        select
            id, name, age, create_time as createTime
        from
            test_user
        where
            age = #{age}
    </select>

    <insert id="insertUser">
        <selectKey keyProperty="id" order="BEFORE">
            SELECT CONCAT('1', CEILING(RAND() * 1000 + 1000))
        </selectKey>
        insert into `test_user` (
            `id`, `name`, `age`, `create_time`
        ) values (
            #{id}, #{name}, #{age}, #{createTime}
        )
    </insert>

    <select id="queryByNameAndAge">
        select * from `test_user`
        @{and, age = :age}
        @{and, name = :name}
        @{and, id in (:ids)}
    </select>
</mapper>